* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway";
}

a:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.2);
  padding-inline: 160px;
}

nav {
  color: black;
  display: flex;
  align-items: end;
  padding-bottom: 8px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 16px;
}

ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

ul li a:hover {
  color: green;
  text-decoration-line: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.main_head {
  padding-top: 80px;
  padding-inline: 160px;
}

h1 {
  padding-bottom: 24px;
}

.main_head img {
  border-radius: 10px;
  height: 320px;
  width: 100%;
}

.recipe_details {
  display: flex;
  text-align: center;
  padding: 32px;
  gap: 24px;
}

.recipe_details img {
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

.recipe_difficult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 5px;
}

.recipe_date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 5px;
}

.ingredients {
  padding-inline: 160px;
}

button {
  background-color: green;
  color: white;
  padding-block: 8px;
  padding-inline: 16px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: gray;
}

tr:hover {
  color: green;
}

th {
  font-size: 24px;
}

th,
td {
  padding: 8px;
}

.preparation {
  padding-inline: 160px;
}

h2 {
  padding-top: 24px;
}

.preparation img {
  width: 24px;
  height: 24px;
  padding-right: 8px;
}

.preparation_details {
  background-color: #f2f2f2;
  display: inline-flex;
  text-align: center;
  gap: 16px;
}

.preparation_time {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 5px;
}

.preparation_total {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 5px;
}

.preparation_text p {
  padding-block: 8px;
}

.author {
  padding-inline: 160px;
}

.author_profile {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  gap: 24px;
  font-weight: bold;
}

.author_profile img {
  height: 160px;
  width: 160px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-inline: 160px;
  background-color: gray;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social_icons a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding-right: 16px;
}

.social_icons a:hover {
  color: green;
  text-decoration-line: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.social_icons img {
  height: 24px;
  width: 24px;
}