/* Apply to all elements */
/* Remove default outer space */
/* Remove default inner space */
/* Include padding and border in element's total width and height */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
/* Root element settings */
/* Base font size (usually 16px=100% in browsers) */
/* Spacing variables for consistent gaps and margins */
/* Heading font size variables */
:root {
  font-size: 100%;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;
  --h1: 3rem;
  --h2: 2.4rem;
  --h3: 2rem;
  --h4: 1.6rem;
  --h5: 1.3rem;
  --h6: 1rem;
}
/* Set font sizes for headings using predefined variables */
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
/* Standard paragraph text size */
p {
  font-size: 1rem;
}

/* Set horizontal padding for navigation container */
/* Horizontal padding (left and right) is dynamic:
     minimum 1rem, maximum 10rem, and scales with 5% of viewport width in between */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.3em 0.3em 1em rgba(211, 211, 211, 0.6);
  height: 7rem;
  padding-inline: clamp(var(--space-m), 5vw, var(--space-xl));
  position: sticky;
  padding-bottom: 3px;
  /* top: 0;
  z-index: 1000;
  background-color: white; */
}
.navigation {
  /* list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3.5rem; 56px */
list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
    height: 100%;
}
.nav-logo {
  width: auto;
  height: 5.25rem; /* 84px */
}
.nav-link {
  text-decoration: none;
  font-family: raleway, sans-serif;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.nav-link:hover {
  color: #007200;
  text-decoration: underline;
  text-decoration-color: #007200;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding-inline: clamp(var(--space-m), 5vw, var(--space-xl));
  padding-block: 5rem; /*bottom and top 80px*/
}
.title-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 20px */
}
.title-section span {
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
}
.title-section-img {
  width: 100%;
  height: 14.7rem; /* 235px */
  border-radius: 0.5rem; /* 8px */
  background-image: url('./assets/img/salad.jpg');
  background-size: cover;
  background-position: center;
}
.title-section-buttons {
  flex-wrap: wrap;
  display: flex;
  gap: 1.25rem; /* 20px */
}
.title-section-button {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 1rem; /* 16px */
  border: 0.1rem solid white;
  border-radius: 0.56rem; /* 9px */
  background-color: #efefef;
  padding: 0.31rem 0.94rem; /* 5px 15px */
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}
.divider {
  border: none;
  height: 0.125rem; /* 2px */
  background-color: #efefef;
  margin: 4rem 0 0.5rem 0;
}
.ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 20px */
  padding-bottom: 1.5rem;
}
.people-count {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* 8px */
  justify-content: flex-start;
  align-items: center;
}
.people-count-form {
  display: flex;
}
.people-count-input {
  border: 1px solid #efefef;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.5rem;
}
.people-count-button {
  background-color: #007200;
  text-decoration: none;
  color: white;
  padding: 0.625rem 2.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-width: 0;
  font-size: 1rem;
  cursor: pointer;
}
.people-count-form > * {
  height: 2.5rem;
}
.ingredients-table {
  border-collapse: collapse; /* Make table borders collapse into a single border */
  width: 100%;
}
.ingredients-table td {
  text-align: left;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem; /* 8px */
}
.ingredients-table tr:nth-child(odd) {
  background-color: #efefef;
} /* Color the odd rows light grey for better readability */
.preparation-description {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.preparation-description-title {
  font-size: 2rem; /* 40px */
  font-weight: 600;
}
.preparation-description-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
}
.preparation-description-button {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 1rem; /* 16px */
  border: 0.1rem solid white;
  border-radius: 0.56rem; /* 9px */
  background-color: #efefef;
  padding: 0.31rem 0.94rem; /* 5px 15px */
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}
.preparation-description-text {
  font-size: 1rem; /* 40px */
  padding: 1rem 0 2rem 0;
}
.recipe-owner-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.recipe-owner-info-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.recipe-owner-info-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.recipe-owner-info-img img {
  border-radius: 50%;
  width: 100px;
  height: auto;
}
footer {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding-inline: clamp(var(--space-m), 5vw, var(--space-xl));
  background-color: #403b3b;
  color: white;
  min-height: 13rem;
}
.footer-links {
  flex: 1;
  display: flex;
  align-items: center;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
}
.footer-link {
  color: white;
}
.Subscribe-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Subscribe-form {
  display: flex;
  align-items:stretch;
  width: 100%;
}

.Subscribe-container-form-title {
  font-size: 24px;
}
.Subscribe-container-form-input {
  border: 1px solid #efefef;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.5rem;
  flex: 1;
}
.Subscribe-container-form-button {
  background-color: #007200;
  text-decoration: none;
  color: white;
  padding: 0.625rem 2.5rem;
  border-width: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
}

/* MOBILE */
@media (max-width: 480px) {
  .Subscribe-form {
    flex-direction: column;
  }

  .Subscribe-container-form-button,
  .Subscribe-container-form-input {
    width: 100%;
    border-radius: 0.5rem;
  }
  .people-count-button {
        padding-left: 10px;
    padding-right: 10px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .footer-links {
    flex-wrap: wrap;
  }
}
