html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}


/*#region "header"*/

header {
    height: 120px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 0px 8px lightgray;
}

.logoMobile {
    display: none;
}

.content {
    height: auto;
    width: auto;
    position: relative;
    overflow-x: hidden;
}

nav {
    height: 100%;
    display: flex;
    align-items: end;
    gap: 16px
}

nav a {
    color: black;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    transition-duration: 0.25s;
}

nav a:hover {
    color: green;
    cursor: pointer;
    text-decoration: underline green;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

/* .navTabletPhone {
    display: none;
    } */

.resp_menu_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 180px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 160px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 8px;
    padding-left: 8px;
}

.resp_menu_box a { 
    height: 100%;
    width: 100%;
    text-align:right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.resp_menu_box a:hover { 
    background-color: rgb(237 237 237);
    width: 100%;
}


.resp_menu_closed {
    transform: translateX(400px);
}

.burgerMenu {
    display: none;
}


label.hamburg { 
   display: block;
   background: green; width: 75px; height: 50px; 
   position: relative; 
   margin-left: auto; margin-right: auto;
   border-radius: 4px; 
}

input#hamburg {display:none}

.line { 
   position: absolute; 
   left:10px;
   height: 4px; width: 55px; 
   background: #fff; border-radius: 2px;
   display: block; 
   transition: 0.5s; 
   transform-origin: center; 
}

.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

#hamburg:checked + .hamburg .line:nth-child(1){
   transform: translateY(12px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2){
   opacity:0;
}

#hamburg:checked + .hamburg .line:nth-child(3){
   transform: translateY(-12px) rotate(45deg);
}

label.hamburg:hover {
    cursor: pointer;
}



/*#endregion "header"*/

/*#region "sectionRecepiHeader"*/

.sectionRecepiHeader {
    padding: 64px 160px;
}

.sectionRecepiHeader h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding-bottom: 32px;
}

.sectionRecepiHeader img {
    height: 176px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.recepiStats {
    display: flex;
    gap: 16px;
    padding-top: 32px;
}

.recepiStatsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: rgb(237 237 237);
    border-radius: 10px;
}

.recepiStatsBox img {
    height: 16px;
    width: 16px;
    padding: 0;
    border-radius: 0px;
}


/*#endregion "sectionRecepiHeader"*/

/*#region "sectionRecepi"*/

.sectionRecepi {
    padding-left: 160px;
    padding-right: 160px;
}

.borderLine {
    height: 2px;
    width: 100%;
    background-color: rgb(237 237 237);
}

.amountPeople {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

input {
    width: 132px;
    height: 32px;
    border-radius: 8px; 
    border-width: 2px;
    border-right-width: 0;
    border-color: rgb(237 237 237);
    border-style: solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    border-radius: 0;
    border-width: 0;
    background-color: green;
    color: white;
    padding: 0px 48px;
    width: 148px
    
}

.inputAmount {
    display: flex;
}


.listIngredients {
    padding-bottom: 40px;
}

.listIngredients ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.listIngredients ul li {
    padding-left: 24px;
}

.listEven {
    
    display: flex;
    align-items: center; 
    border-radius: 10px;
    flex: 1;
    height: 56px;
    background-color: rgb(237 237 237);
}

.listOdd {
    
    display: flex;
    align-items: center;
    flex: 1;
    height: 56px;
    background-color: white;
}

/*#endregion "sectionRecepi"*/

/*#region "sectionPreparation"*/

.sectionPreperation {
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 120px;
}

.sectionPreperation p {
    margin: 0
}

.sectionPreperation h3 {
    font-size: 32px;
    font-weight: 600;
    margin: 0
}

.recepiDescription {
    padding-top: 32px;
    padding-bottom: 32px;
}

.sectionPreperation h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 24px
}

.recepiOwner {
    display: flex;
    align-items: center;
    gap: 32px;
}

.recepiOwner img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

.recepiOwner h5 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

/*#endregion "sectionPreparation"*/

/*#region "sectionFooter"*/

.sectionFooter {
    height: 320px;
    background-color: rgb(65 52 52);
}

/*#endregion "sectionFooter"*/


/*#region "sectionTabletResponsive"*/

@media(max-width: 1280px) {
    .navDesktop {
        display: none;
    }

    .resp_menu_box {
        right: 24px
    }

    .navTabletPhone {
        display: flex;
    }

    nav.navTabletPhone a {
        text-decoration: none;
        filter: none;        
    }

    .burgerMenu {
        display: flex;
    }

    header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionRecepiHeader {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionRecepi {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionPreperation {
        padding-left: 24px;
        padding-right: 24px;
    }

    .logoDesktop {
        display: none;
    }

    .logoMobile {
        display: flex;
    }
 }


/*#endregion "sectionTabletResponsive"*/

@media(max-width: 767px) {
    .recepiStats {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .recepiStatsBox {
        align-items: center;
    }

    .amountPeople {
        flex-direction: column;
    }

    .inputAmount {
        flex-direction: column;
    }

    input {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-style: solid;
    }

    button {
        height: 38px;
    }


}


