html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 100%;

    /* Spacing */
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 4rem;

    /* Heading font sizes */
    --h1: 3rem;
    --h2: 2.4rem;
    --h3: 2rem;
    --h4: 1.6rem;
    --h5: 1.3rem;
    --h6: 1rem;

    /* Colors */
    --color-text: #000;
    --color-white: #fff;
    --color-primary: #007200;
    /* main green */
    --color-hover: #025f02;
    /* hover green */
    --color-light: #efefef;
    /* light backgrounds, tables, buttons, input, divider */
    --color-footer-bg: #342f2d;
    /* footer background */
}

main {
    flex: 1;
    width: 100%;
    max-width: 1920px;
}

.maxWidth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerDesignFullLength {
    width: 100%;
    height: 120px;
    box-shadow: 4px 0px 8px #efefef;
}


/*#region "header"*/

header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1920px;
    height: 120px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoMobile {
    display: none;
}

.content {
    height: auto;
    width: auto;
    position: relative;
    overflow-x: hidden;
}

nav {
    height: 100%;
    display: flex;
    align-items: end;
    gap: 16px
}

nav a {
    color: black;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    transition-duration: 0.25s;
}

nav a:hover {
    color: #025f02;
    cursor: pointer;
    text-decoration: underline #025f02;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

/* .navTabletPhone {
    display: none;
    } */

.resp_menu_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 180px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 160px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 8px;
    padding-left: 8px;
}

.resp_menu_box a {
    height: 100%;
    width: 100%;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.resp_menu_box a:hover {
    background-color: rgb(237 237 237);
    width: 100%;
}


.resp_menu_closed {
    transform: translateX(400px);
}

.burgerMenu {
    display: none;
}


label.hamburg {
    display: block;
    background: #007200;
    width: 75px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

input#hamburg {
    display: none
}

.line {
    position: absolute;
    left: 10px;
    height: 4px;
    width: 55px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}

.line:nth-child(1) {
    top: 12px;
}

.line:nth-child(2) {
    top: 24px;
}

.line:nth-child(3) {
    top: 36px;
}

#hamburg:checked+.hamburg .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
}

#hamburg:checked+.hamburg .line:nth-child(2) {
    opacity: 0;
}

#hamburg:checked+.hamburg .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

label.hamburg:hover {
    cursor: pointer;
}



/*#endregion "header"*/

/*#region "contentContact"*/


.contentContactImage {
    background-image: url(./img/aurelia-dubois-vmwZ1H3lMWE-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    height: 70dvh;

}

/*#endregion "contentContact"*/

/*#region "contentContactLeft"*/

.contentContactLeft {
    width: 100%;
}


.sectionContactFormRight {
    padding-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sectionContactFormRight h2 {
    text-align: center;
}

.contentContact {
    padding-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-around;

}

.contentContactText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contentContactText h1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sectionContactForm h2 {
    font-size: 24px;
    padding-bottom: 32px;
    text-align: center;
}

.sectionContactForm {
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    padding-bottom: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    /* filter: drop-shadow(-4px 4px 4px green) */
}

.personalData {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
}

.personalDataMail {
    width: 100%;
}

.personalDataName {
    width: 100%;
}

.contactMessage {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

label {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

input {
    height: 40px;
    border-radius: 20px;
    border-style: none;
    border-color: green;
    padding-left: 16px;
    color: white;
    background-color: rgba(0, 128, 0, 0.4);
    font-family: "Raleway", sans-serif;
}

input:focus {
    outline: none
}

input[type=submit] {
    border-style: none;
    border-color: transparent;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 250ms;
}

input[type=submit]:hover {
    cursor: pointer;
    scale: 1.05
}

textarea {
    resize: none;
    height: 320px;
    width: 100%;
    padding-top: 10px;
    border-radius: 20px;
    border-style: none;
    color: white;
    padding: 16px 16px;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 128, 0, 0.4);
}

textarea:focus {
    outline: none
}

textarea::placeholder {
    color: white
}

input::placeholder {
    color: white
}

/*#endregion "contentContactLeft"*/

/*#region "contentContactRight"*/
.contentContactRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentContactRight h2 {
    padding-bottom: 32px;
}

.phoneButton {
    background-color: #007200;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition-duration: 250ms;
    margin-bottom: 32px;
}

.contentContactRight a {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
}

.phoneButton:hover {
    cursor: pointer;
    scale: 1.1
}




/*#endregion "contentContactRight"*/

/* =====================
   Footer
===================== */
footer {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding-inline: clamp(var(--space-m), 5vw, var(--space-xl));
    padding-block: 3rem 1rem;
    gap: var(--space-l);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Footer Logo */
.footer-left img.footer-logo {
    max-height: 60px;
    width: auto;
}

/* Footer Navigation links  */
.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--color-white);
    height: 2.5rem;
    padding: 0 10px;
}

.footer-link {
    flex: 1;
    text-align: center;
}

.footer-link a {
    display: inline-block;
    padding: var(--space-s) var(--space-m);
    text-decoration: none;
    color: var(--color-text);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, transform 100ms ease;
    border-radius: 0.5rem;
}

.footer-link a:hover {
    background-color: var(--color-hover);
    color: var(--color-white);
}

/* Social Icons */
.footer-right {
    display: flex;
    gap: var(--space-s);
}

.footer-right a img {
    width: auto;
    height: 24px;
    transition: transform 100ms ease, color 100ms ease;
}

.footer-right a:hover img {
    transform: scale(1.2);
}

#Facebook-img {
    width: 18px;
    height: 24px;
    transition: transform 100ms ease, color 100ms ease;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: var(--space-m);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    color: var(--color-light);
    /* light color for Copyright  */
}

#button-hover:hover {
    background: var(--color-hover);
}


/*#region "sectionTabletResponsive"*/

@media(max-width: 1280px) {
    .contentContact {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }

    .contentContactRight {
        padding-top: 240px;
    }


    .navDesktop {
        display: none;
    }

    .resp_menu_box {
        right: 24px
    }

    .navTabletPhone {
        display: flex;
    }

    nav.navTabletPhone a {
        text-decoration: none;
        filter: none;
    }

    .burgerMenu {
        display: flex;
    }

    header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionRecepiHeader {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionRecepi {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sectionPreperation {
        padding-left: 24px;
        padding-right: 24px;
    }

    .logoDesktop {
        display: none;
    }

    .logoMobile {
        display: flex;
    }
}


/*#endregion "sectionTabletResponsive"*/

@media(max-width: 767px) {
    .contentContactImage {
        padding-left: 24px;
        padding-right: 24px;
    }

    .contentContactImage h1 {
        font-size: 24px;
    }

    .contentContact {
        padding-right: 0;
        padding-left: 0;
    }

    .contentContact h2 {
        font-size: 20px;
    }



    button {
        height: 38px;
    }

    .sectionContactForm {
        padding: 0 0;
    }


}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-nav {
        justify-content: center;
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.5rem;
        overflow: hidden;
        background-color: var(--color-white);
        height: 100%;
        width: 8.5rem;
        padding: 0 10px;
    }
}